<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990717392443-noaggciojte1sdrvq83lbcp56j05i2fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990717392443-noaggciojte1sdrvq83lbcp56j05i2fr</string>
	<key>API_KEY</key>
	<string>AIzaSyBtyf0Nhl7lLvgn9Y0leJbTY2UfVv0cuas</string>
	<key>GCM_SENDER_ID</key>
	<string>990717392443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pharuthapol-Junpet.MahaSanook</string>
	<key>PROJECT_ID</key>
	<string>mahasanook-95e30</string>
	<key>STORAGE_BUCKET</key>
	<string>mahasanook-95e30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990717392443:ios:efaddb38afe847e9640e1e</string>
</dict>
</plist>